<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EveChatNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EveChatNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EveChatNotifier.Properties.Settings>
            <setting name="SoundFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="EveChatLogsPath" serializeAs="String">
                <value>%DOCUMENTS%\EVE\logs\Chatlogs</value>
            </setting>
            <setting name="NotifyKeywords" serializeAs="String">
                <value>@all,@enemy</value>
            </setting>
            <setting name="ShowToast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>%EXEPATH%\log.txt</value>
            </setting>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoveOldLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveOldLogsPath" serializeAs="String">
                <value>%CHATLOGS%\old</value>
            </setting>
        </EveChatNotifier.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EveChatNotifier.Properties.Settings>
            <setting name="ChatEntryRegex" serializeAs="String">
                <value>\[(?&lt;senddate&gt;(.+))\](?&lt;sender&gt;(.*))\&gt;(?&lt;text&gt;(.*))</value>
            </setting>
            <setting name="UseRegex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileCheckInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxAgeForWatchingLogs" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LogAllMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToastBodyColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ToastBorderColor" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="ToastContentColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="ToastContentHoverColor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="ToastHeaderColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="ToastTitleColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ToastDelay" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="EveChatLogCheckInterval" serializeAs="String">
                <value>5</value>
            </setting>
        </EveChatNotifier.Properties.Settings>
    </applicationSettings>
</configuration>