<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EveChatNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EveChatNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EveChatNotifier.Properties.Settings>
            <setting name="SoundFilePath" serializeAs="String">
                <value>%EXEPATH%\notify.mp3</value>
            </setting>
            <setting name="EveChatLogsPath" serializeAs="String">
                <value>%DEFAULT_EVELOGPATH%</value>
            </setting>
            <setting name="NotifyKeywords" serializeAs="String">
                <value>@all,@enemy</value>
            </setting>
            <setting name="ShowToast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>%EXEPATH%\log.txt</value>
            </setting>
            <setting name="NeedsUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoveOldLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveOldLogsPath" serializeAs="String">
                <value>%DEFAULT_EVEOLDPATH%</value>
            </setting>
            <setting name="AskedToMoveLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundVolume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToastFontSizeTitle" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="ToastFontSizeContent" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="IgnoreMotd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreOwnMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MotdUsername" serializeAs="String">
                <value>EVE-System</value>
            </setting>
            <setting name="IgnorePilots" serializeAs="String">
                <value />
            </setting>
            <setting name="IgnoreChannels" serializeAs="String">
                <value />
            </setting>
	    <setting name="AlwaysPilots" serializeAs="String">
		<value />
	    </setting>
		<setting name="AlwaysChannels" serializeAs="String">
		<value />
	    </setting>
            <setting name="AutoStartDelayMinutes" serializeAs="String">
                <value>0</value>
            </setting>
        </EveChatNotifier.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EveChatNotifier.Properties.Settings>
            <setting name="ChatEntryRegex" serializeAs="String">
                <value>\[(?&lt;senddate&gt;(.+))\](?&lt;sender&gt;(.*))\&gt;(?&lt;text&gt;(.*))</value>
            </setting>
            <setting name="UseRegex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileCheckInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxAgeForWatchingLogs" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="LogAllMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToastBodyColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ToastBorderColor" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="ToastContentColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="ToastContentHoverColor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="ToastHeaderColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="ToastTitleColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ToastDelay" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="EveChatLogCheckInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ToastSize" serializeAs="String">
                <value>400, 100</value>
            </setting>
            <setting name="AutoUpdateManually" serializeAs="String">
                <value>False</value>
            </setting>
        </EveChatNotifier.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
